{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block jumbotitle %} Вопрос {% endblock %}
{% block jumbotext %} Задайте новый вопрос! {% endblock %}
{% block navitems %}
 {% include "navbar.html" %}
{% endblock %}
{% block content %}
    <form method="post" action="/ask/">
        <fieldset>
        {% csrf_token %}
        {{ form.as_p }}
        </fieldset>
        <button type="submit">Сохранить</button>
    </form>
    <div>User: {{ user }}</div>
    <div>Session: {{ session }}</div>
    <div><a href="/">Возврат на главную страницу</a></div>
{% endblock %}

