{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block jumbotitle %} Вопрос {% endblock %}
{% block jumbotext %} Вопрос № {{ question.id }} {% endblock %}
{% block navitems %}
	{% include "navbar.html" %}
{% endblock %}
{% block content %}
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">
					{{ question.title }}
				</h4>
				<p class="card-text">
					{{ question.text }}
				</p>
				<p class="card-text">Автор:  {{ question.author_id }}</p>
			</div>
		</div>
		<div>
			Ответы:
			<ul>

	    	{% for answer in question.answer_set.all %}
	        	<li>{{ answer }}, {{ answer.author_id }}</li>
	    	{% endfor %}
	    	</ul>
		</div>
		Форма:
		<form method="post" action="{{ question.get_url }}">
			<fieldset>
			{% csrf_token %}
			{{ form.as_p }}
	        </fieldset>
	        <button type="submit" class="btn btn-primary">Ответить</button>
		</form>
	</div>
{% endblock %}
